name: Update Manifest Header

on:
  workflow_dispatch:

concurrency:
  group: "manifest-generator"
  cancel-in-progress: true

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Extract branch name
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Update Branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ steps.extract_branch.outputs.branch }}

      - name: Generate Manifest and Commit
        uses: actions/checkout@v3
        run: |
          git branch
          date > generated.txt
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "generated"
          git push
