name: Unit and Integration Tests

on:
  pull_request:
    branches: ["development"]
  push:
    branches: ["development"]
  workflow_dispatch:

concurrency:
  group: "unit-tests"
  cancel-in-progress: false

jobs:
  run-tests:
    runs-on: ubuntu-latest
    container: ghcr.io/missourimrdt/rovecomm-focal:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Extract branch name
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Update Branch
        run: |
          cd /opt/RoveComm_CPP/
          git fetch --force --recurse-submodules
          branch=${{ steps.extract_branch.outputs.branch }}
          echo $branch
          git checkout $branch
          git pull
          git submodule update --recursive --init
          ls -R external

      - name: Build Tests
        run: |
          cd /opt/RoveComm_CPP/
          mkdir build
          cd build
          cmake ..
          make

      - name: Run Unit Tests
        id: run-unit
        run: |
          cd /opt/RoveComm_CPP/build
          if test -f "RoveComm_CPP_UnitTests"; then ./RoveComm_CPP_UnitTests ; else echo "No Unit Tests Exist" ; fi

      - name: Run Integration Tests
        id: run-integration
        if: success() || (failure() && steps.run-unit.outcome == 'failure')
        run: |
          cd /opt/RoveComm_CPP/build
          if test -f "RoveComm_CPP_IntegrationTests"; then ./RoveComm_CPP_IntegrationTests ; else echo "No Integration Tests Exist" ; fi
